<b>函数图像绘制工具</b><br>
函数输入框:<br>
<form name="form1" action="http://zh.numberempire.com/graphingcalculator.php" method="get">
<input id="functions" name="functions" value="log(x),sqrt(x),x,x^2" class="full_width" type="text"><br>
X 坐标, 从: <input id="xmin" name="xmin" value="0" size="10" type="text">
到: <input id="xmax" name="xmax" value="3" size="10" type="text"><br>

Y 坐标, 从: <input id="ymin" name="ymin" value="-1" size="10" type="text">
到: <input id="ymax" name="ymax" value="1" size="10" type="text"><br>
<input value="绘制图像" type="submit">
<input name="return" value="1" type="hidden">
</form>
